<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="ExceptionManager.LogExceptions" value="true" />

    <add key="ExceptionManager.Loggers.Enable.Email"      value="false" />
    <add key="ExceptionManager.Loggers.Enable.TextFile"   value="true" />
    <add key="ExceptionManager.Loggers.Enable.Database"   value="false" />
    <add key="ExceptionManager.Loggers.Enable.WebPost"    value="false" />
    <add key="ExceptionManager.Loggers.Enable.EventLog"   value="false" />
    <add key="ExceptionManager.Loggers.Enable.MessageBox" value="true" />
    <add key="ExceptionManager.Loggers.Enable.Console"    value="false" />

    <add key="ExceptionManager.Logger.Email.Address.Recipient" value="invalid@example.com" />
    <add key="ExceptionManager.Logger.Email.Address.Sender" value="invalid@example.com" />
    <add key="ExceptionManager.Logger.Email.Subject" value="Unexpected Error" />
    <add key="ExceptionManager.Logger.Email.SmtpServer" value="Invalid Server Designation" />
    <add key="ExceptionManager.Logger.TextFile.FilePath" value=".\ErrorLog.txt" />
    <add key="ExceptionManager.Logger.Database.ConnectionStringKey" value="InvalidStringKey" />
    <add key="ExceptionManager.Logger.WebPost.Url" value="InvalidUrl" />

    <add key="Registry.SotsPath.Collection" value="\HKEY_LOCAL_MACHINE\" />
    <add key="Registry.SotsPath.Windowsx64" value="SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Sword of the Stars" />
    <add key="Registry.SotsPath.Windowsx86" value="SOFTWARE\Windows\CurrentVersion\Uninstall\Sword of the Stars" />
    <!--
      <add key="Registry.SotsPath.Windowsx86" value="SOFTWARE\Windows\CurrentVersion\AppPaths\???" />
    -->
    <!-- UninstallString -->

    <add key="Registry.SotsPath.Lookup" value="false" />
    <add key="Registry.SotsPath.HardCoded" value="\Test Data\SotS\gob\sots.gob.zip" />
  </appSettings>
</configuration>
